@import url(
    'https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Montserrat:wght@300;900&display=swap'
    );

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-links{
    width: 370px;
    height: 506px;
    background: #1F1818;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}
.header h1{
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}
.close{
    font-family: Manrope;
    font-size: 48px;
    transform: rotate(-45deg);
    color: #FFFFFF;    
}